/**
 * Root Imports and Theming
 */
@import "~tachyons-sass/tachyons.scss";

$primary: $green !default;
$secondary: $blue !default;

@import "./_tachyon/tachyons.scss";

@include tachyons-color-gen("primary", $primary);
@include tachyons-color-gen("secondary", $secondary);

@include tachyons-prop(".pre-line") {
  white-space: pre-line;
}

@include tachyons-prop(".hover-underline") {
  &:hover {
    text-decoration: underline;
  }
}

@for $i from 1 to 10 {
  @include tachyons-prop(".col-#{$i}") {
    columns: $i;
  }
}

@for $i from 1 to 10 {
  @include tachyons-prop(".clamp-#{$i}") {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $i;
    -webkit-box-orient: vertical;
  }
}

