// Converted Variables

// Custom Media Query Variables

/*
  Z-INDEX

  Base
    z = z-index

  Applies the z-index on hover.

*/

$z-index-range: 0, 1, 2, 3, 4, 5, 999, 9999;

@mixin hover-z-index-generate($suffix: "") {
  @each $number in $z-index-range {
    .hover-z-#{$number}#{$suffix}:hover {
      z-index: $number;
    }
  }

  .hover-z-max#{$suffix}:hover {
    z-index: 2147483647;
  }

  .hover-z-inherit#{$suffix}:hover {
    z-index: inherit;
  }
  .hover-z-initial#{$suffix}:hover {
    z-index: initial;
  }
  .hover-z-unset#{$suffix}:hover {
    z-index: unset;
  }
}

@include hover-z-index-generate();

@media #{$breakpoint-not-small} {
  @include hover-z-index-generate("-ns");
}

@media #{$breakpoint-medium} {
  @include hover-z-index-generate("-m");
}

@media #{$breakpoint-large} {
  @include hover-z-index-generate("-l");
}
