// Converted Variables

// Custom Media Query Variables

/*

   PERCENTAGE COORDINATES
   Docs: https://github.com/tachyons-css/tachyons/issues/371

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large

*/

// Converted Variables

$perc-coord-list: 10, 20, 25, 30, 33, 40, 50, 60, 66, 70, 75, 80, 90, 100;

@mixin perc-coord-generate($suffix: "") {
  @each $number in $perc-coord-list {
    .top-#{$number}#{$suffix} {
      top: $number * 1%;
    }

    .right-#{$number}#{$suffix} {
      right: $number * 1%;
    }

    .left-#{$number}#{$suffix} {
      left: $number * 1%;
    }

    .bottom-#{$number}#{$suffix} {
      bottom: $number * 1%;
    }

    .top--#{$number}#{$suffix} {
      top: -$number * 1%;
    }

    .right--#{$number}#{$suffix} {
      right: -$number * 1%;
    }

    .left--#{$number}#{$suffix} {
      left: -$number * 1%;
    }

    .bottom--#{$number}#{$suffix} {
      bottom: -$number * 1%;
    }
  }
}

@include perc-coord-generate();

@media #{$breakpoint-not-small} {
  @include perc-coord-generate("-ns");
}

@media #{$breakpoint-medium} {
  @include perc-coord-generate("-m");
}

@media #{$breakpoint-large} {
  @include perc-coord-generate("-l");
}
