/*

   Transform: Translate

   Base:
     trans
     trans-x
     trans-y

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
*/

$translate-list: 10, 20, 25, 30, 33, 40, 50, 60, 66, 70, 75, 80, 90, 100;

@each $number in $translate-list {
  @include tachyons-prop(".trans-#{$number}") {
    transform: translate($number * 1%, $number * 1%);
  }

  @include tachyons-prop(".trans--#{$number}") {
    transform: translate(-$number * 1%, -$number * 1%);
  }

  @include tachyons-prop(".trans-x-#{$number}") {
    transform: translateX($number * 1%);
  }

  @include tachyons-prop(".trans-x--#{$number}") {
    transform: translateX(-$number * 1%);
  }

  @include tachyons-prop(".trans-y-#{$number}") {
    transform: translateY($number * 1%);
  }

  @include tachyons-prop(".trans-y--#{$number}") {
    transform: translateY(-$number * 1%);
  }
}
